.quantity-input {
  width: 50px;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in-line {
  display: inline;
  padding: 0;
}

.search {
  width: 250px;
}
