.quantity-input {
  width: 50px;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-cart {
  border: solid 2px black;
}

.book-cart-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.in-line {
  display: inline;
  padding: 0;
}

.search {
  width: 250px;
}

.totals {
  font-size: 18px;
  font-weight: bold;
}
